<div style="font-family: Arial, sans-serif;border:4px solid #E65F5C;padding:20px">
  <h3 style="color:#E65F5C;">Parabéns!,</h3>
        <div style="text-align: center;margin:15px 0px;">
            <p>
              Loja <b><%= @client.company_name %></b> Foi criada e esta pendente até  o processo de analise ser finalizado,
              Isso pode levar até 24h
            </p>
        </div>
  <div style="display:inline-flex;">
      <img src="https://www.linkpicture.com/q/Logomark_1.png" style="max-width:80px">
    <h4>DeliveryNow</h4>
  </div>
</div>
